//colors
$main-color: white;
$placeholders-color: #BBBBBB;
$text-color: #939393;
$inputs-color: #b5bbfb;
$buttons-color: #6A70F7;
$title-color: #515151;
$wrong-color: #fe8b8b;
$gray2-color: #BBBBBB;
$button-text: #666666;

//borders
$border-radius: 50px;

//fonts
$font-size-title: 36px;
$font-size-inputs: 20px;
$font-size-palceholders: 16px; 
$font-size-on-main-page: 25px;

//sizes-home-pages
$home-pages-content-width-1206: 1206px;