@font-face {
    font-family: "Jura";
    src: url("../../fonts/Jura/Jura-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}